<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/datil.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <title>Document</title>
</head>
<body>
    <!-- start navbar -->
    <div class="nav">
        <div class="contenar">
            <div class="logo floatLeft">ECOMERSE</div>
            <div class="floatLeft size">
                <ul class="list_1 ">
                    <li><a href="{% url 'products:home' %}">Home</a></li>
                    <li><a href="{% url 'products:product' %}">Product</a></li>
                    <li class="dropdown heden" >category
                        <div class="dropdown-content">
                            <a href="{% url 'products:mobile' %}">Mobile</a>
                            <a href="{% url 'products:laptop' %}">Laptop</a>
                            <a href="{% url 'products:clothes' %}">Clothes</a>
                            <a href="{% url 'products:shose_bage' %}">Shoes Bags</a>
                         </div>
                    </li>
                    
                    
                </ul>
            </div>
            <div class="floatLeft size">
                <ul class="list_2">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'products:show_product_like' %}"><svg class="click_red siz_media" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg></a></li>
                      {% endif %}
                    <li class="search1">
                        <a href="{% url 'products:search' %}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search siz_media" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg></a>
                        
                    </li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'products:profile' %}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill siz_media" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg></a></li>
                    {% else %}
                    <li><a href="{% url 'products:login' %}">Login</a></li>
                    {% endif %}
                    
                </ul>
                
            </div>
            <div class="clear"></div>

        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <!-- end nvbar -->
                {% block content %}


                 {% endblock content %}

                 <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col heden">
                                <h4>company</h4>
                                <ul>
                                    <li><a href="#">about us</a></li>
                                    <li><a href="#">our services</a></li>
                                    <li><a href="#">privacy policy</a></li>
                                    <li><a href="#">affiliate program</a></li>
                                </ul>
                            </div>
                            
                            <div class="footer-col">
                                <h4>online shop</h4>
                                <ul>
                                    <li><a href="{% url 'products:mobile' %}">mobile</a></li>
                                    <li><a href="{% url 'products:laptop' %}">laptop</a></li>
                                    <li><a href="{% url 'products:shose_bage' %}">shoes</a></li>
                                    <li><a href="{% url 'products:clothes' %}">clothes</a></li>
                                </ul>
                            </div>
                            <div class="footer-col">
                                <h4>follow us</h4>
                                <div class="social-links">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
               </footer>

                 <script >
                    let click_red = document.querySelector(".click_red");
                    click_red.onclick = function () {
                        
                        click_red.style.color="red";
                      console.log('98768245734957965');
                      }
                  </script>              
        

</body>
</html>